@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

// Typography
$button-font-weight: 400;
$font-family: 'Source Sans Pro', sans-serif;
$caps-letter-spacing: 0.01em;
$small-font-size: 14px;
$x-small-font-size: 12px;

// Spacing
$space-1: 8px;
$space-2: 16px;
$space-3: 32px;
$space-4: 64px;

// Layout
$header-height: 64px;
